<h1>Welcome#about</h1>
  <p>Find me in app/views/welcome/about.html.erb</p>
  <footer>
    <div class="connect">
      <button><%= link_to "Follow Me", "https://twitter.com/the_pritchness?lang=en", class: "social-btn"%></button>
    </div>
  </footer>
